body{
    background-color: rgb(0, 0, 0);
    font-family:"Poppins", sans-serif;
}

.Home{
    background: url(shutterstock_1042721746_0.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding-bottom: 130px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.contener .title,
.contener .subtitle,
.contener .btndown{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.contener .subtitle{
    animation-delay: 1.2s;
}
.contener .btndown{
    animation-delay: 1.4s;
}

.download .contener1 .head,
.download .contener1 .para,
.img .cont h1,
.img .cont p,
.img .cont button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

.download .contener1 .para{
    animation-delay: 1.2s;
}
.img .cont h1{
    animation-delay: 1.4s;
}
.img .cont p{
    animation-delay: 1.6s;
}
.img .cont button{
    animation-delay: 1.8s;
}

.Help h1,.Help p,.Help button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

.Help p{
    animation-delay: 1.2s;
}
.Help button{
    animation-delay: 1.4s;
}

.info .div h1,.info .div p,.div h1 hr{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

.info p{
    animation-delay: 1.2s;
}

.div h1 hr{
    animation-delay: 1.3s;
}


footer img,
footer .navbar{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

footer .navbar {
    animation-delay: 1.2s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.821);
    z-index: 0;
}

.contener{
    text-align: left;
    color: white;
    z-index: 1;
}

.contener1{
    text-align: left;
    color: black;
}

.title{
    font-size: 40px;
    border-bottom: 3px  solid rgb(249, 60, 60);
}

.head{
    font-size: 20px;
    text-align: center;
}

hr{
    background-color: rgb(249, 60, 60);
    width: 50px;
    height: 3px;
    border: none;
    border-radius: 15px;
}

.para{
    font-size: 15px;
    text-align: center;
    margin-top: -5px;
}

.subtitle{
    font-size: 28px;
    font-weight: 400;
    margin-top: -15px;
    margin-bottom: 50px;
}

.Home img{
    width: 600px;
    margin-top: 3%;
    z-index: 1;
}

.download{
    padding-top: 120px;
    margin-left: -1%;
    margin-right: -1%;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 30px;
    padding-bottom: 100px;
}

.download img{
    margin-top: 20px;
    width: 300px;
}

.btndown{
    background-color: transparent;
    color: white;
    border: 2px  solid rgb(249, 60, 60);
    width: 180px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45px;
}

.img{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.img img{
    width: 250px;
}

.cont h1{
    text-align: center;
}

.cont h1:hover{
    color: rgb(249, 60, 60);
    transition: color 1s;
}

.h1:hover{
    color: white;
}

.cont p{
    text-align: center;
}

.btn{
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 2px  solid rgb(249, 60, 60);
    width: 180px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.btn:hover{
    background-color: rgb(249, 60, 60);
    color: white;
    border: none ;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

a{
    position: relative;
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
}

a.on::after{
    content: '';
    position: absolute;
    background-color: rgb(249, 60, 60);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a.on:hover::after{
    width: 100%;
}



nav h1{
    color: white;
    margin-left: 50px;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 700px;
    position: absolute;
    z-index: 100000;
}

nav.stcy{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}

.stcy{
    background-color: rgb(249, 60, 60);
    padding-right: 7.5%;
}

.stcy ul a{
    color: white;
}

.stcy ul .navbutton{
    color: white;
    border: 3px solid white;
}

.stcy h1{
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    z-index: 1;
}

.navbutton{
    background-color: transparent;
    color: white;
    border: 2px  solid rgb(249, 60, 60);
    width: 130px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45px;
    z-index: 1;
}

.name{
    font-size: 30px;
    text-align: center;
    color: white;
    z-index: 1;
}

.hr{
    width: 80px;
    z-index: 1;
}

.context p{
    color: white;
    text-align: center;
    z-index: 1;
}

.Help video{
    border: 5px solid  white;
    border-radius: 45px;
}

.Help{
    background: url(app.png);
    background-size: cover;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 100px;
    z-index: 0;
}

.info1{
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.info{
    background-color: white;
}

.info h1 {
    text-align: center;
}

.cardTitle{
    font-size: 18px;
}

.card img{
    width: 100px;
}

.card .p1 {
    margin-top: -15px;
}

.infosub{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.info{
    padding-top: 100px;
    margin-left: -1%;
    margin-right: -1%;
}

.info div{
    margin-bottom: 70px;
}

.card{
    border:3px solid black;
    width: 350px;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.122);
    text-align: center;
}

.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    border-right: 3px solid white;
    padding-right: 10px;
}

footer p{
    color: white;
    font-size: 23px;
    background-color: rgb(249, 60, 60);
    padding-bottom: 30px;
    padding-top: 30px;
}

footer{
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer img{
    background-color: rgb(249, 60, 60);
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    
}

.ok{
    margin-left: 40px;
}

.boder{
    width: 500px;
    background-color: white;
    
}

.brake{
    display: none;
}

.sidebar a{
    color: black;
}

.foot{
    display: none;
}

@media (max-width : 1893px ) {
    .card{
        border:3px solid black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 45px;
        background-color: rgba(0, 0, 0, 0.122);
        text-align: center;
    }
}

@media (max-width :1520px ) {
    nav{
        gap: 600px;
    }
}

@media (max-width :1420px ) {
    nav{
        gap: 500px;
    }
    .stcy{
        padding-right: 8.5%;
    }
    .Home{
        padding-bottom: 80px;
    }
}

@media (max-width :1310px ) {
    nav{
        gap: 400px;
    }
    .Home{
        padding-bottom: 60px;
    }
    .card{
        width: 200px;
        height: 380px;
    }
    .card p{
        font-size: 13px;
    }
    video{
        width: 700px;
    }
    .Help{
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 80px;
    }
    .cont img{
        width: 200px;
    }
    .cont button{
        margin-right: 30px;
    }
    .Home .contener .title{
        font-size: 35px;
    }
    .Home .contener .subtitle{
        font-size: 25px;
    }
    .Home img{
        width: 450px;
    }
    .Home{
        margin-top: 20px;
    }
}

@media (max-width :1207px ) {
    nav{
        gap: 300px;
    }
    video{
        width: 650px;
    }
    .Help p{
        font-size: 15px;
    }
    .Help{
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 40px;
    }
    .stcy{
        padding-right: 10%;
    }
}

@media (max-width :1150px ) {
    nav{
        gap: 300px;
    }
    video{
        width: 600px;
    }
    .Help p{
        font-size: 14px;
    }
    .Help h1{
        font-size: 22px;
    }
    .Help{
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 40px;
    }
}

@media (max-width :1120px ) {
    nav{
        gap: 200px;
    }
    .Home .contener .title{
        font-size: 25px;
    }
    .Home .contener .subtitle{
        font-size: 19px;
    }
    .cont p{
        font-size: 13px;
        font-weight: 600;
    }
}

@media (max-width : 980px ) {
    nav{
        gap: 100px;
    }
    .cont p{
        font-size: 10px;
        font-weight: 600;
    }
    .cont h1{
        font-size: 15px;
    }
    video{
        width: 500px;
    }
    .card p{
        font-size: 13px;
    }
    .card{
        width: 140px;
        height: 320px;
        padding-bottom: 20px;
    }
}
@media (max-width :920px ) {
    nav{
        gap: 50px;
    }
    .Home{
        gap: 0px;
    }
    .Home img{
        width: 400px;
    }
    .Home{
        padding-bottom: -100px;
    }
    .cont img{
        width: 150px;
    }
    .cont button{
        width: 130px;
        font-size: 12px;
    }
    .card p{
        font-size: 11px;
    }
}
@media (max-width :840px ) {
    nav{
        gap: 20px;
    }
    nav ul{
        gap: 30px;
    }
    .Home{
        gap: 0px;
    }
    .Home img{
        width: 380px;
    }
    nav h1{
        font-size: 20px;
    }
    .Home .contener .title{
        font-size: 24px;
    }
    .Home .contener .subtitle{
        font-size: 18px;
    }
    .stcy{
        padding-right: 14.7%;
    }
}
@media (max-width :765px ) {
    .Home img{
        width: 300px;
        margin-top: 50px;
    }
    video{
        width: 300px;
    }
    .Home .contener .title{
        font-size: 24px;
    }
    .Home .contener .subtitle{
        font-size: 18px;
    }
    .Help{
        gap: 30px;
    }
    .Help p{
        font-size: 12px;
    }
    .Help button{
        width: 120px;
        font-size: 13px;
    }
    .card img{
        width: 80px;
    }
    .card{
        width: 120px;
        height: 290px;
    }
    footer p{
        font-size: 15px;
    }
    .cont p{
        font-size: 8px;
        font-weight: 700;
    }
    .img{
        gap: 20px;
    }
}
@media (max-width :710px ) {
    .navbutton{
        width: 100px;
        font-size: 10px;
    }
    .br{
        display: none;
    }
    .card .p1{
        margin-top: -0px;
    }
    .card .dr{
        margin-top: -15px;
    }
    .card{
        height: 245px;
    }
    .infosub{
        gap: 50px;
    }
    .brake{
        display: auto;
    }

}
@media (max-width :690px ) {
    nav h1{
        margin-left: -0px ;
    }
    .Home .contener .title{
        font-size: 20px;
    }
    .Home .contener .subtitle{
        font-size: 16px;
        margin-bottom: 20px;
    }
    video{
       width:250px ;
       height: 150px;
    }
}
@media (max-width :645px ) {
    nav h1{
        display: none;
    }
    .navbutton{
        margin-left: 100px;
    }
    .Home .contener .title{
        font-size: 18px;
    }
    .Home .contener .subtitle{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .Home img{
        width: 250px;
    }
    video{
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 250px;
    }
    .Help{
        display: block;
    }
    .head{
        font-size: 16px;
    }
    .para{
        font-size: 13px;
    }
    .cont img{
        width: 100px;
    }
    .cont p{
        display: none;
    }

}
@media (max-width :605px ) {
    .card img{
        width: 60px;
    }
    .chanel{
        display: none;
    }
    .cont button{
        width: 100px;
    }
    footer p{
        font-size: 13px;
    }
    .navbutton{
        margin-left: 50px;
    }
}
@media (max-width :540px ) {
    .Home .contener .title{
        font-size: 16px;
    }
    .Home .contener .subtitle{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .btndown{
        width: 120px;
    }
    .Home img{
        width: 200px;
    }
    footer hr{
        display: none;
    }
}
@media (max-width :525px ) {
    .navbutton{
        margin-left: 2px;
    }
    video{
        width: 350px;
        height: 200px;
    }
    footer p{
        font-size: 10px;
    }
    .para{
        font-size: 10px;
    }
    .download .img{
        gap: 00px;
    }
}
@media (max-width :475px ) {
    .navbutton{
        display: none;
    }
    nav ul{
        align-items: center;
        justify-content: center;
    }
    .stcy{
        padding-right: 22%;
    }
}
@media (max-width :470px ) {
    footer p{
        display: none;
    }
    .Home img{
        width: 150px;
    }
    footer img{
        width: 15px;
    }
    footer ul{
        font-size: 10px;
    }
    .cont button{
        width: 80px;
        font-size: 8px;
        height: 30px;
    }
    .stcy{
        padding-right: 28.5%;
    }
}
@media (max-width :420px ) {
    .Home .contener .title{
        font-size: 14px;
    }
    .Home .contener .subtitle{
        font-size: 10px;
        margin-bottom: 20px;
        margin-top: 2px;
    }
}
@media (max-width :405px ) {
    .web{
        display: none;
    }
    video{
        width: 300px;
        height: 160px;
    }
    .para{
        display: none;
    }
    .head{
        margin-bottom: -50px;
    }
    .cont img{
        width: 80px;
    }
    .cont button{
        width: 60px;
        font-size: 8px;
        height: 25px;
    }
}
@media (max-width :380px ) {
    .Home .contener .title{
        font-size: 12px;
    }
    .Home .contener .subtitle{
        font-size: 9px;
        margin-bottom: 20px;
        margin-top: 2px;
    }
    nav a{
        font-size: 12px;
    }
    .Home button{
        width: 80px;
        font-size: 8px;
        height: 25px;
    }
}
@media (max-width :350px ) {
    .Home .contener .title{
        font-size: 12px;
    }
    .Home .contener .subtitle{
        font-size: 9px;
        margin-bottom: 20px;
        margin-top: 2px;
    }
    nav a{
        font-size: 12px;
    }
    .Home img{
        width: 120px;
    }
    nav a{
        font-size: 10px;
    }
    footer ul{
        display: none;
        padding-bottom: -100px;
    }
    .foot{
        display: block;
        color: white;
        font-size: 20px;
        border-bottom: 3px solid rgb(249, 60, 60);
    }
}
@media (max-width :321px ) {
    video{
        width: 200px;
        height: 115px;
    }
    .Help button{
        width: 90px;
        font-size: 11px;
        height: 25px;
    }
    .img{
        display: block;
    }
    .cont p{
        display: block;
    }
}

@media (max-width :241px ) {
    nav ul{
        gap: 20px;
    }
    nav a{
        font-size: 8px;
    }
    .Home .contener .title{
        font-size: 8px;
    }
    .Home .contener .subtitle{
        font-size: 6px;
        margin-bottom: 20px;
        margin-top: 2px;
    }
}

.hidden{
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}

@media (prefer-reduced-motion) {
    .hidden{
        transition: none;
    }
    .show{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.web{
    transition-delay: 200ms;
}

.chanel{
    transition-delay: 600ms;
}

.bn{
    display: block;
    padding: 10px 40px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0 ,0.1);
    border: 1px solid rgb(249, 60, 60);
    cursor: pointer;
}

.bn:hover, .bn:focus, .bn:active, .bn:visited{
    transition-timing-function:cubic-bezier(0.6, 4, 0.3, 0.8) ;
    animation: gelatine 0.5s 1;
}

@keyframes gelatine{
    0%,100%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(0.9, 1.1);
    }
    50%{
        transform: scale(1.1, 0.9);
    }
    75%{
        transform: scale(0.95, 1.05);
    }
}