body{
    background-color: rgb(0, 0, 0);
    font-family:"Poppins", sans-serif;
}

.Home{
    background: url(shutterstock_1042721746_0.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding-bottom: 130px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.contener .title,
.contener .subtitle,
.contener .btndown{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.contener .subtitle{
    animation-delay: 1.2s;
}
.contener .btndown{
    animation-delay: 1.4s;
}

.download .contener1 .head,
.download .contener1 .para,
.img .cont h1,
.img .cont p,
.img .cont button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

.download .contener1 .para{
    animation-delay: 1.2s;
}
.img .cont h1{
    animation-delay: 1.4s;
}
.img .cont p{
    animation-delay: 1.6s;
}
.img .cont button{
    animation-delay: 1.8s;
}

.Help h1,.Help p,.Help button{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

.Help p{
    animation-delay: 1.2s;
}
.Help button{
    animation-delay: 1.4s;
}

.info .div h1,.info .div p{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

.info p{
    animation-delay: 1.2s;
}

footer img,
footer .navbar{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

footer .navbar {
    animation-delay: 1.2s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.821);
    z-index: 0;
}

.contener{
    text-align: left;
    color: white;
    z-index: 1;
}

.contener1{
    text-align: left;
    color: black;
}

.title{
    font-size: 40px;
    border-bottom: 3px  solid rgb(249, 60, 60);
}

.head{
    font-size: 20px;
    text-align: center;
}

hr{
    background-color: rgb(249, 60, 60);
    width: 50px;
    height: 3px;
    border: none;
    border-radius: 15px;
}

.para{
    font-size: 15px;
    text-align: center;
    margin-top: -5px;
}

.subtitle{
    font-size: 28px;
    font-weight: 400;
    margin-top: -15px;
    margin-bottom: 50px;
}

.Home img{
    width: 600px;
    margin-top: 3%;
    z-index: 1;
}

.download{
    padding-top: 120px;
    margin-left: -1%;
    margin-right: -1%;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 30px;
    padding-bottom: 100px;
}

.download img{
    margin-top: 20px;
    width: 300px;
}

.btndown{
    background-color: transparent;
    color: white;
    border: 2px  solid rgb(249, 60, 60);
    width: 180px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45px;
}

.img{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.img img{
    width: 250px;
}

.cont h1{
    text-align: center;
}

.cont h1:hover{
    color: rgb(249, 60, 60);
    transition: color 1s;
}

.h1:hover{
    color: white;
}

.cont p{
    text-align: center;
}

.btn{
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 2px  solid rgb(249, 60, 60);
    width: 180px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.btn:hover{
    background-color: rgb(249, 60, 60);
    color: white;
    border: none ;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

a{
    position: relative;
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
}

a::after{
    content: '';
    position: absolute;
    background-color: rgb(249, 60, 60);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover::after{
    width: 100%;
}



nav h1{
    color: white;
    margin-left: 50px;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 700px;
    position: absolute;
    z-index: 2
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    z-index: 1;
}

.navbutton{
    background-color: transparent;
    color: white;
    border: 2px  solid rgb(249, 60, 60);
    width: 130px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 45px;
    z-index: 1;
}

.name{
    font-size: 30px;
    text-align: center;
    color: white;
    z-index: 1;
}

.hr{
    width: 80px;
    z-index: 1;
}

.context p{
    color: white;
    text-align: center;
    z-index: 1;
}

.Help video{
    border: 5px solid  white;
    border-radius: 45px;
}

.Help{
    background: url(app.png);
    background-size: cover;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 100px;
    z-index: 0;
}

.info1{
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.info{
    background-color: white;
}

.info h1 {
    text-align: center;
}

.cardTitle{
    font-size: 18px;
}

.card img{
    width: 100px;
}

.infosub{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.info{
    padding-top: 100px;
    margin-left: -1%;
    margin-right: -1%;
}

.info div{
    margin-bottom: 70px;
}

.card{
    border:3px solid black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.122);
    text-align: center;
}

.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    border-right: 3px solid white;
    padding-right: 10px;
}

footer p{
    color: white;
    font-size: 23px;
    background-color: rgb(249, 60, 60);
    padding-bottom: 30px;
    padding-top: 30px;
}

footer{
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer img{
    background-color: rgb(249, 60, 60);
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    
}

.ok{
    margin-left: 40px;
}

.boder{
    width: 500px;
    background-color: white;
    
}

@media (max-width : 1893px ) {
    .card{
        border:3px solid black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 45px;
        background-color: rgba(0, 0, 0, 0.122);
        text-align: center;
    }
}

@media (max-width :1520px ) {
    nav{
        gap: 600px;
    }
}

@media (max-width :1420px ) {
    nav{
        gap: 500px;
    }
    .Home{
        padding-bottom: 80px;
    }
}

@media (max-width :1310px ) {
    nav{
        gap: 400px;
    }
    .Home{
        padding-bottom: 60px;
    }
    .card{
        width: 200px;
        height: 380px;
    }
    .card p{
        font-size: 13px;
    }
    video{
        width: 700px;
    }
    .Help{
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 80px;
    }
    .cont img{
        width: 200px;
    }
    .cont button{
        margin-right: 30px;
    }
    .Home .contener .title{
        font-size: 35px;
    }
    .Home .contener .subtitle{
        font-size: 25px;
    }
    .Home img{
        width: 450px;
    }
    .Home{
        margin-top: 20px;
    }
}

@media (max-width :1207px ) {
    nav{
        gap: 300px;
    }
    video{
        width: 650px;
    }
    .Help p{
        font-size: 15px;
    }
    .Help{
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 40px;
    }
}

@media (max-width :1150px ) {
    nav{
        gap: 300px;
    }
    video{
        width: 600px;
    }
    .Help p{
        font-size: 14px;
    }
    .Help h1{
        font-size: 22px;
    }
    .Help{
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 40px;
    }
}
