@media (max-width : 1500px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1499px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1496px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1495px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1493px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1492px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1488px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1484px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1482px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1479px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1477px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1473px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1470px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1467px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1464px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1461px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1456px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1453px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1448px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1445px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1440px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1438px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1429px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1425px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1420px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1417px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1414px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1409px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1406px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1402px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1399px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1395px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1392px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1388px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1385px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1381px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1378px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1373px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}

@media (max-width : 1370px) {
    .stcy{
        background-color: rgb(249, 60, 60);
        width: 97.5%;
    }
}